/* songStates.css */

.state-selected {
  background-color: orange;
}

.state-voted {
  background-color: green;
}

.state-now_playing {
  background-color: red;
}

.state-played {
  opacity: 0.5;
  pointer-events: none;
  filter: grayscale(80%);
}